@model AutoSalon.WebUI.ViewModels.CarsFilterViewModel

<h3>@Strings.Find_your_dream_car</h3>
<br />
<div class="container">
    <div class="row  vertical-align">
        <div class="col-md-6">
            <img src="~/Content/Images/car-image.jpg" />
        </div>
        <div class="col-md-6 ">
            @using (Html.BeginForm("List", "Cars", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="Importer">@Strings.Importer</label>
                            @Html.DropDownListFor(x=>x.Importer, new SelectList(Model.Impororters), @Strings.Select_Importer, new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="Description">@Strings.Description</label>
                            @Html.TextBoxFor(x=>x.Description, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x =>x.Description)
                        </div>
                        <br />
                        <button type="submit" class="btn btn-default pull-right">@Strings.Search</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}